# NestJS specific
/dist
/node_modules
/build
/tmp

# Prisma
# Do NOT ignore prisma/migrations - they should be committed

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# dotenv environment variable files
.env
.env.development
.env.test
.env.production

# temp directory
.temp
.tmp
